
.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-height: 440px;
  background-color: #fff;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  background-size: cover;
  max-height: 400px;
  width: 100%;
}


.slideshowDots {
  text-align: center;
  background-color: #fff;
}

.slideshowDot {
  display: inline-block;
  height: 15px;
  width: 15px;
  

  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color:#19293B;
}

.slideshowDot.active {
  background-color: #00909E;
}

@media (max-width: 375px) {
  .slideshowDot {
    width: 10px;
    height: 10px;
  }
}