
.drawer-nav-bar .ant-drawer-content-wrapper{
  margin-top: 22px;
}

.drawer-nav-bar .ant-drawer-header{
  background-color: #19293B;
  color: #fff;


}
.drawer-nav-bar .ant-drawer-content{
  background-color: #19293B;
  color: #fff;
  width: calc(100% - 44px) !important;
  margin-right: 22px;
  margin-left: 22px;
  border-radius: 10px 
  
}