  .categories-menu-small{
      width: 100%;
      border-radius: 0 0 10px 10px;
      background-color:  rgba(223, 225, 225, 0.4);
      padding: 0 10px;
    
  }
  .categories-menu-item-small{
      padding: 0 5px;
      /* a:hover{
        color: #000
      } */
      /* a:active{
        color: #000;
      } */
    }
    .categories-link:focus {
      font-weight: 600;
    }
    .categories-menu-item-small:not(:last-child){
      border-bottom: 1px solid rgba(25, 41, 59, 0.1);
    }
