.small-header{
  display: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 15px;
  color: #00909E;
  cursor: pointer;
}

@media (max-width: 768px) {


  /* .small-header{
    display: flex;
  } */
  /* .header{
    display: none;
  } */
}


