 
 .loader {
  height: 50vh;
  width: 100%;
  background-color: #fff;
  position: relative;
 }

 .loader p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}