.main-content {
  padding: 30px;
}

.title-content {
  height: 50px;
  background-color: #fff;
}
@media(max-width: 640px) {
  .card-content{
    width: 100%;
  }
}
@media(max-width: 375px) {
  .main-content {
    padding: 10px;
    row-gap: 10px !important;
  }
}
