
.gallery-slideshow {
  /* margin-left: 20px; */
  overflow: hidden;
  max-height: 400px;
  height: 400px;
  /* height: 100%; */
  max-width: 374px;
  width: 100%;
}

.slideshow-slider {
  white-space: nowrap;
  transition: ease 1000ms;
  max-height: 311px;
  height: 100%;
 
}

.gallery-slide {
  display: inline-block;
  height: 95%;
  width: 100%;
  border: 0.5px solid #D1D3D4;
  background-size: cover;
  cursor: pointer;
}

.gallery-slide>img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}


.gallery-row {
  position: relative;
  bottom: 15px;
  text-align: center;
  width: 90%;
  height: 70px;
  white-space: nowrap;
  overflow: hidden;
  margin:0 5%;
  transition: ease 1000ms;

}

.gallery-col {
  display: inline-block;
  height: 80%;
  width: 22%;
  border: 0.5px solid #D1D3D4;
  cursor: pointer;
  background-size: cover;
  transition: ease 1000ms;
  margin: 0 5px;
}
.gallery-col>img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery-col.active {
  border: 1px solid #00909E;
}

.arrow-container{
  display: flex;
    justify-content: space-between;
    position: relative;
    top: 20px;
}
.arrow {
  height: 15px;
  width: 10px;
  display: inline-block;
 
  cursor: pointer;
  opacity: 1;
}
.arrow.in-active {
  opacity: 0.5;
}

.properties-parent{
  background-color: rgba(223,225,225,0.4);;
}
